*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    font-family: 'Montserrat';
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url(../img/back.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    padding: 0;
    margin: 0;
}


.header-container {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.menu.scrolled {
    background-color: #333333;
}

.language-switcher label {
    margin-right: 5px;
}

.language-switcher select {
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 0;
    background-color: transparent;
    color: white;
    font-size: 16px;
    appearance: none;
    outline: none;
    z-index: 7;
}

.language-switcher select:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.language-switcher select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


.menu-list {
    display: flex;
    justify-content: space-around;
    /* Элементы будут равномерно распределены */
    align-items: center;
    /* Вертикальное выравнивание по центру */
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-direction: row;
    /* Горизонтальное расположение */
}



.menu-item {
    margin: 0 15px;
    /* Отступы между элементами */
    padding: 10px;
}

.menu-link {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    background-color: transparent;
}

.menu-link:hover {
    color: #B59571;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 7;
}

.burger .line {
    height: 3px;
    width: 25px;
    background-color: white;
    margin: 4px 0;
}

.image-link-geo img,
.image-link-instagram img,
.image-link-tel img,
.logo img {
    transition: 0.3s ease;
}

.image-link-geo:hover img {
    content: url(../img/geo2.png);
}

.image-link-instagram:hover img {
    content: url(../img/insta2.png);
}

.image-link-tel:hover img {
    content: url(../img/tel2.png);
}

.image-link-facebook:hover img {
    content: url(../img/facebook2.png);
}

.logo:hover img {
    content: url(../img/logo2.png);
}

.modal {
    display: none;
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    transition: opacity 0.3s ease;
}

.modal-logo {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    border-radius: 10px;
    background-color: #333333;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    animation: slide-in 0.5s ease;
    position: relative;
}

.modal-content h3 {
    color: #B59571;
    font-size: 24px;
    text-align: center;
    margin: 10px 0;
}

.close-button {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 15px;
}

.close-button:hover,
.close-button:focus {
    color: white;
    cursor: pointer;
}

.modal-content a {
    color: #B59571;
    text-decoration: none;
}

.modal-content a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

h2 {
    font-size: 54px;
    font-weight: bold;
}

p {
    font-weight: 400;
    font-size: 18px;
}

.about {
    position: relative;
    background-color: rgba(34, 33, 33, 0.3);
    padding: 40px;
    max-width: 800px;
    border-radius: 20px;
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.10);
    color: white;
    margin-top: 100px;
}

.memu-th {
    background-color: transparent;
}

.bar {
    border: 1px solid #888;
    padding: 15px;
    background-color: #333333;
    border-radius: 10px;
    height: 100%;
    box-sizing: border-box;
}

.bar a {
    margin-right: 15px;
}

.bar a:last-child {
    margin-right: 0;
}

.about-menu {
    background-image: url(../img/back2.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    margin-top: 300px;
    margin-bottom: 100px;
    align-self: flex-start;
}

.about-menu-text {
    color: black;
}

.menu-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.line {
    width: 59px;
    height: 3px;
    background-color: #B59571;
}

.capital {
    color: black;
}

.our-menu {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    z-index: 8;
}

.rectangle {
    padding-top: 40px;
    padding-left: 40px;
    background-color: transparent;
    border: 2px solid #B5B5B5;
    margin: 20px auto;
    width: 416px;
}

.our-menu .rectangle {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.our-menu .rectangle:hover {
    transform: scale(1.005);
    opacity: 0.9;
}

.our-menu .rectangle img {
    transition: transform 0.3s ease;
}

.our-menu .rectangle:hover img {
    transform: scale(1.05);
}

footer {
    background-color: #333333;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    position: relative;
    box-sizing: border-box;
    z-index: 5;
}

.footer-logo {
    margin-bottom: 10px;
}

.footer-links {
    margin: 10px 0;
}

.footer-links a {
    color: #B59571;
    text-decoration: none;
    margin: 0;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #fff;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 12px;
    color: #aaa;
}

/*=============================================================================================================================*/
.scroll-container {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    padding: 20px;
}

.scroll-container img {
    margin-right: 10px;
    object-fit: cover;
}

.scroll-content {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
}

.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s, transform 0.3s;
}

.scroll-button:hover {
    background-color: #555555;
}

.scroll-left {
    position: absolute;
    left: 10px;
}

.scroll-button:active {
    background-color: #777777;
    transform: translateY(-50%) scale(0.95);
}

.scroll-right {
    position: absolute;
    right: 10px;
}

.about,
.about-menu,
.our-menu,
.footer-content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1200px;
    box-sizing: border-box;
}

.about h1,
.about p,
.footer-content p {
    text-align: justify;
}

.container {
    width: 100%;
    box-sizing: border-box;
}

@media (max-width: 828px) {
    .burger {
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        display: flex;
        z-index: 7;
    }

    .menu-list {
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.5s ease, opacity 0.5s ease;
      }
      
      /* Стили для активного меню */
     

    .container {
        
    }
    .burger.active .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 11px);
      }
      
      .burger.active .line:nth-child(2) {
        opacity: 0;
      }
      
      .burger.active .line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -10px);
      }
      
      .line {
        transition: transform 0.3s ease, opacity 0.3s ease;
      }
      

    .header-container {
        align-items: center;
        padding: 20px 0;
        display: flex;
        justify-content: center;
        /* Центрирование по горизонтали */
        align-items: center;
        /* Центрирование по вертикали */
        height: 100px;
        /* Задайте нужную высоту контейнера */
    }
    .bar{
        display: none;
    }

    .menu {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .language-switcher {
        position: absolute;
        top: 17px;
        left: 30px;

    }

    .logo img {
        display: block;
        max-width: 100%;
        /* Чтобы логотип был адаптивным */
        height: auto;
        /* Сохраняем пропорции изображения */
    }

    .menu-list {
        transition: opacity 0.3s ease, transform 0.3s ease;
        opacity: 0;
        transform: translateY(-20px);
        flex-direction: column;
        display: none;
        gap: 10px;
        background-color: #333;
        position: absolute;
        left: 0;
        width: 100%;
    }
    

    .menu-list.active {
        display: flex;
        opacity: 1;
        transform: translateY(0);

    }

    .our-menu {
        margin-top: 300px;
        margin-bottom: 100px;
        flex-direction: column;
        gap: 20px;
    }

    .menu-item {
        margin-bottom: 10px;
    }

    .menu-link {
        top: 0px;
        text-decoration: none;
        color: white;
        padding: 10px;
        text-align: center;
        width: 100%;
        display: block;
        background-color: transparent;
        text-decoration: none;

    }

    .media {
        display: flex; /* Устанавливает флекс-контейнер */
        justify-content: space-between; /* Распределяет элементы по ширине */
        align-items: center; /* Центрирует элементы по вертикали */
        max-height: 70px;
        width: 100%; /* Занимает всю ширину */
        position: fixed; /* Фиксирует блок внизу экрана */
        bottom: 0; /* Прижимает к низу */
        background-color: white; /* Задать цвет фона, если нужно */
        padding: 10px 25px 10px 25px; /* Отступы сверху и снизу */
        left: 0;
    }
   

    .modal-content {
        position: relative;
        background-color: #333;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 500px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
        border-radius: 8px;
        text-align: center;
    }

    .modal-content h3 {
        margin-top: 10px;
        font-size: 24px;
        color: white;
    }

    .modal-content a {
        display: block;
        margin: 10px 0;
        font-size: 16px;
        color: white;
        text-decoration: none;
    }

    .modal-content a:hover {
        text-decoration: underline;
    }

    .modal-logo {
        margin: 10px 0;
    }

    .image-link-tel {
        display: inline-flex;
        align-items: center;
        margin-top: 10px;
    }

    .image-link-tel img {
        margin-right: 5px;
    }

    .close-button {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 24px;
        font-weight: bold;
        color: #888;
        cursor: pointer;
    }

    .close-button:hover,
    .close-button:focus {
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-content p {
        font-size: 16px;
        color: white;
        ;
    }



    .about,
    .about-menu {
        margin-top: 35px;
        margin-bottom: 10px;
    }

    .footer {
        font-size: 12px;
        background: #333333;
        padding: 20px 0;
        text-align: center;
    }

    .footer-content {
        max-width: 100%;
    }

    .footer-links {}

    .footer-links a {
        margin: 0 10px;
        text-decoration: none;
        color: #333;
    }

    .footer-bottom {
        margin-top: 10px;
    }

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 16px;
    }

    .modal-content {
        width: 90%;
    }
}
