*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

/* ========================================================================================================= */
.wraper {

    margin: 0 180px !important;
    padding: 0 -180px !important;
    max-width: 1200px;
    max-width: 100%;
	 display: flex;
    position: relative;
	 flex-direction: column;
	 height: 100%;
}

/* ========================================================================================================= */
.header-all {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
}

.header-all>div {
    display: flex;
}

.custom-line {
    border: none;
    height: 2px;
    background-color: #ECECEC;
    margin: 0 -180px 0 -180px;
}

.WebStudio {

    font-weight: bold;
    margin-right: 93px;
    cursor: pointer;
    font-size: 26px;
    font-family: 'Raleway';
}

.Studio-header {
	margin-left: -5px;
    color: black !important;
}

.web {
    color: #2196F3;
}

.studio {
    color: white;
}

.header-menu-items {
    font-size: 14px;
    cursor: pointer;
    padding-top: 6px;
}

.header-menu-studia:hover,
.header-menu-portfolio:hover,
.header-menu-contacts:hover {
    color: #2196F3;
}

.header-contacts {
    padding-top: 6px;
    right: 0;
    position: absolute;
}

.header-contacts p {
    margin-left: 33px;
}

.header-contacts a {
    color: #757575;
    text-decoration: none;
}

.header-contacts a:hover {
    color: #2196F3;

}

.header-menu-items>div:not(:last-child) {
    margin-right: 33px;
}

.header-menu-items a {
    margin-right: 33px;
    color: black;
}

/* ========================================================================================================= */
.block-one {
    text-align: center;
    justify-content: center;
    padding-top: 213px;
    padding-bottom: 58px;
    padding-left: 46px;
    padding-right: 46px;
    line-height: 60px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    font-weight: bold;
    background-image: url(../img/bgi.png);
    max-height: 600px;
    margin-left: -180px;
    margin-right: -180px;
}

/* ========================================================================================================= */
.columns {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-top: 95px;
    padding: 0 auto;
}

.columns p {
    font-weight: 400;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 7px;
    color: #757575;
}

.column-img-wrapper {
    margin-bottom: 30px;
    padding: 25px 100px;
    background-color: #F5F4FB;
    border-radius: 4px;
}

h2 {
    font-weight: bold;
    font-size: 36px;
}

h3 {
    font-weight: 600;
    font-size: 14px;
}

h4 {
    font-weight: 500;
    font-size: 16px;
}

/* ========================================================================================================= */
.services {
    display: flex;
    flex-direction: column;
    padding: 0 auto;
    align-items: center;
}

.services h2 {
    margin-top: 101px;
    margin-bottom: 59px;
}

.container-services {
    width: 100%;
}

.service-gallery {
    display: flex;
    width: 100%;
}

.gallery-item {
    margin: 0 auto;
    max-width: 330px;
    max-height: auto;
    margin-bottom: 94px;
}

/* ========================================================================================================= */
.team-members {
    margin: 0px -180px 0 -180px;
    background-color: #F5F4FB;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    padding-right: 180px;
    padding-left: 180px;
    padding-bottom: 94px;
    padding-top: 94px;
}

.team-members-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    padding: 0 auto;
}

.team-member {
    background-color: #fff;
    max-width: 200px;
    max-height: 368px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.team-member:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.team-member img {
    height: auto;
    width: 100%;
}

.team-member h3 {
    font-size: 22px;
    color: #333;
    margin-top: 30px;
}

.team-member p {
    margin-top: 14px;
    margin-bottom: 34px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

/* ========================================================================================================= */
.logos-icons {
	display: flex;
	justify-content: space-around;
	margin-bottom: 30px;
}

.instagram-logo .outer-circle {
	transition: background 0.3s;
}

.instagram-logo .background-circle {
	fill: transparent;
	transition: fill 0.3s;
}

.instagram-logo .inner-square {
	fill: transparent;
	stroke: #AFB1B8;
	stroke-width: 2;
	transition: stroke 0.3s;
}

.instagram-logo .camera-lens {
	fill: transparent;
	stroke: #AFB1B8;
	stroke-width: 2;
	transition: stroke 0.3s;
}

.instagram-logo .flash {
	fill: #AFB1B8;
	transition: fill 0.3s;
}

.instagram-logo:hover .background-circle {
	fill: #1da1f2;
}

.instagram-logo:hover .inner-square {
	stroke: white;
}

.instagram-logo:hover .camera-lens {
	stroke: white;
}

.instagram-logo:hover .flash {
	fill: white;
}


/* ========================================================================================================= */
.icon {
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: #AFB1B8;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    font-size: 24px;
    text-decoration: none;
}

.icon:hover {
    color: #fff;
    background-color: #1da1f2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-decoration: none;
}

/* ========================================================================================================= */

.twitter-icon {
    color: #AFB1B8;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
}

.twitter-icon:hover {
    color: #fff;
    background-color: #1DA1F2;
    /* Twitter-like color */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
}



/* ========================================================================================================= */

.in-icon {
    color: #AFB1B8;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
}

.in-icon:hover {
    color: #fff;
    background-color: #1DA1F2;
    /* Twitter-like color */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
}



/* ========================================================================================================= */

/* ========================================================================================================= */

.header-menu-items {
    position: relative;
    /* Для правильного позиционирования псевдоэлемента */
}

.header-menu-items a {
    position: relative;
    /* Для псевдоэлемента */
    padding-bottom: 10px;
    text-decoration: none;
    /* Убираем подчеркивание текста */
    color: #000;
    /* Цвет текста */
}

.header-menu-items a.active {
    color: #2196F3;
    /* Цвет активной ссылки */
}

.header-menu-items a::after {
    border-radius: 2px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    position: absolute;
    /* Позволяет располагать линию относительно родительского элемента */
    bottom: -33px;
    /* Ставим линию внизу ссылки */
    left: 0;
    /* Выравниваем по левому краю */
    transform: scaleX(0);
    /* Изначально линия скрыта */
    transition: transform 0.3s ease;
    /* Плавный переход */
}

.header-menu-items a.active::after {
    transform: scaleX(1);
    /* Показываем линию для активной ссылки */
}








/* ========================================================================================================= */
.header-menu-tab {
    cursor: pointer;
    display: inline-block;
}

.header-menu-tab.active {
    background-color: #2196F3;
    color: white;
}

.tab-pane {
    display: none;
}

/* ========================================================================================================= */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(3, auto);
    gap: 30px;
    justify-content: center;
}

.grid-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    border: 1px solid #EEEEEE;
    padding-bottom: 30px;
    transition: color 300ms linear, background-color 300ms linear, border-color 300ms linear;
    position: relative;
    /* Позволяет позиционировать дочерние элементы */
}

.grid-item:hover {

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.grid-item img {
    max-width: 100%;
    height: auto;
}

.grid-item h3,
.grid-item a {
    font-weight: bold;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 16px;
    padding-left: 15px;
    color: inherit;
    text-decoration: none;
}

.grid-item p {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    padding-left: 15px;
}

.info {
    font-size: 18px;
    line-height: 28px;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(54, 160, 243, 0.7);
    color: white;
    padding: 10px;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease, transform 0.3s ease;
    display: flex;
    align-items: center;
}


.grid-item:hover .info {
    opacity: 1;
    transform: translateY(0);
    height: 100%;
}









/* ========================================================================================================= */
.button-container {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 95px;
    margin-bottom: 50px;
}

.category-button {
    font-weight: 500;
    padding: 12px 44px;
    background-color: #F5F4FB;
    border-radius: 4px;
    cursor: pointer;
}

.category-button:hover {
    background-color: #2196F3;
    color: white;
}

/* ========================================================================================================= */

.partners-section {
    padding: 94px 0 94px 0;
    text-align: center;
}

.partners-section h2 {
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 50px;
}

.partners-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 0 auto;
}

.partner-logo {
    cursor: pointer;
    padding: 23px 58px;
    border: 1px solid #ACACB0;
    background-color: transparent;
    max-height: 92px;
    max-width: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.partner-logo img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    filter: grayscale(100%);
    /* Изображение черно-белое */
    transition: filter 0.3s;
    /* Плавный переход для эффекта */
}

.partner-logo:hover {
    border: 1px solid #2196F3;
    /* Синий цвет рамки при наведении */
    background-color: transparent;
}

.partner-logo:hover img {
    filter: brightness(0) saturate(100%) invert(34%) sepia(100%) saturate(1026%) hue-rotate(195deg) brightness(92%) contrast(90%);
}

/* ========================================================================================================= */
/* Медиа-запросы для адаптивного дизайна */
@media (max-width: 1200px) {
	.wraper {
		 margin: 0 5%;
	}

	.header-all {
		 flex-direction: column;
		 align-items: center;
	}

	.header-contacts {
		 position: relative;
		 padding-top: 16px;
	}

	.block-one {
		 padding: 150px 20px;
		 font-size: 36px;
	}

	.columns {
		 flex-direction: column;
		 align-items: center;
	}

	.columns p {
		 padding: 10px 0;
	}

	.gallery-item {
		 margin-bottom: 30px;
	}

	.team-members-container {
		 flex-direction: column;
		 align-items: center;
	}

	.team-member {
		 max-width: 90%;
	}

	.footer {
		 flex-direction: column;
		 align-items: center;
	}

	.footer-media {
		 margin-left: 0;
		 margin-top: 20px;
	}
}

@media (max-width: 768px) {
	.header-all {
		 flex-direction: column;
		 padding: 16px 0;
	}

	.block-one {
		 padding: 100px 20px;
		 font-size: 28px;
	}

	.grid-container {
		 grid-template-columns: repeat(2, minmax(0, 1fr));
	}

	.grid-item {
		 padding: 20px;
	}
}

@media (max-width: 480px) {
	.header-menu-items {
		 flex-direction: column;
		 align-items: center;
	}

	.header-menu-items a {
		 margin-bottom: 10px;
	}

	.block-one {
		 font-size: 24px;
	}

	.team-member {
		 max-width: 100%;
	}
}

/* ========================================================================================================= */

.footer {
	display: flex;
	margin-left: -180px;
	margin-right: -180px;
	padding-left: 180px;
	background-color: #2F303A;
	padding-top: 60px;
	padding-bottom: 60px;
	color: #FFFFFF;
	margin-top: auto;
}

.footer a {
	color: #ACACB0;
	text-decoration: none;
}

.WebStudio-footer {
  margin-left: -5px;
	margin-bottom: 34px;
}

.footer-address,
.footer-email,
.footer-phone {
	margin-bottom: 9px;
}

.footer-media {
	margin-left: 93px;
	max-width: 206px;
}

